<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo App</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" href="app.css">
</head>
<body>

    <main>
        <h1 class="main-title">TODO LIST</h1>
        <p>A project by Clint Winter</p>
        <div class="contact">
            <a target="_blank" href="https://www.linkedin.com/in/clint-winter/"><i class="fab fa-linkedin"></i></a>
            <a target="_blank" href="https://github.com/cwinterweb"><i class="fab fa-github"></i></a>
            <a target="_blank" href="mailto:cwinter.web@gmail.com"><i class="fas fa-envelope-square"></i></a>
        </div>

        <input type="text" class="todo-add" placeholder="Get groceries">

        <section class="todos"></section>
    </main>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="app.js"></script>
</body>
</html>